<h1>Criar Livro</h1>
<form action="/create" method="post">
    <div class="form-control">
        <label for="name">Nome do livro:</label>
        <input type="text" name="name" placeholder="Digite o nome do livro">
    </div>
    <div class="form-control">
        <label for="price">Preço do livro:</label>
        <input type="text" name="price" placeholder="Digite o preço do livro">
    </div>
    <div class="form-control">
        <label for="pages">Quantidade de páginas:</label>
        <input type="number" name="pages" placeholder="Digite quantas páginas o livro possui">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" placeholder="Descrição do produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar Livro" class="btn">
</form>