<h1>Livros</h1>
<div class="books-container">
    {{#each books}}
        <div class="book-container">
            <p>#<span class="title">{{this.title}}</span></p>
            <p>Páginas: {{this.pages}}</p>
            <a href="/books/{{this.idbooks}}">Ver mais</a>
        </div>
        <hr>
    {{/each}}
</div>