* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
}
nav {
    display: flex;
    list-style-type: none;

    justify-content: center;

    background-color: #fafafa;

    padding: 25px;

    margin-bottom: 20px;
}
nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
ul a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    margin-bottom: 1em;
  }
  
.form {
width: 450px;
margin: 0 auto;
}

.form-control {
display: flex;
flex-direction: column;
margin-bottom: 0.5em;
}

.form-control label {
font-weight: bold;
margin-bottom: 0.3em;
}

.form-control input {
padding: 5px;
}
.form-checkbox {
    flex-direction: row;
}
.form-checkbox input {
    margin-right: 10px;
}
footer  {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #8a8686;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}