<h1>Olá, handlebassrs</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}}, e ele tem {{user.age}}</p>
<p>{{palavra}}</p>

{{#if auth}}
    <p>
        o usuário está logado, <a href="/dashboard">clique aqui</a> para acessar a dashboard
    </p>
{{/if}}