<h1>Todas as tasks</h1>
<ul class="task-list">
  {{#each tasks}}
    <li>
      <a href="/" class="title">{{this.title}}</a>
      <span class="actions">
        <a href="/"><i class="fa-solid fa-check"></i></a>
        <a href="/tasks/edit/{{this.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="/">
          <form action="/tasks/delete" method="post">
            <input type="hidden" name="id" value={{this.id}}>
            <button type="submit"><i class="fa-solid fa-x"></i></button>
          </form>
        </a>
      </span>
    </li>
  {{/each}}
</ul>